

  <div class="card-group">
    <div class="card">
      <img src="https://media.wired.com/photos/5c0eb2350dc19b43aab5f1d6/125:94/w_2249,h_1691,c_limit/Sundar-1056109484.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sundar Pichai</h5>
        <h5 class="card-title">CEO</h5>

        <p class="card-text">Pichai worked in engineering and product management at Applied Materials and in management consulting at McKinsey & Company.[24] Pichai joined Google in 2004.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2021/11/0/0/Parag-Agrawal-2.jpg?ve=1&tl=1" class="card-img-top" alt="..." style="height:350px">
      <div class="card-body">
        <h5 class="card-title"> Parag Agrawal</h5>
        <h5 class="card-title">Manager</h5>

        <p class="card-text">Parag held leadership positions at Microsoft Research and Yahoo! Research prior to joining Twitter as a software engineer in 2011.[9] In October 2017, Twitter announced the appointment of Agrawal as chief technology officer following the departure of Adam Massinger</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    
    <div class="card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThAss-9kTwJskoXbJFusDZkardfeArStBjxg&usqp=CAU.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ratan Tata</h5>
        <h5 class="card-title">Cheif Executive</h5>

        <p class="card-text"> Ratan achieved initial success by turning Group company National Radio and Electronics (NELCO) around, only to see it collapse during an economic slowdown.[15][16] In 1991, J. R. D. Tata stepped down as chairman of Tata Sons, naming him his successor..</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>